.dashboard {
    &-header {
        z-index: 99;
        border: none;
    }

    .pt-logo {
        height: 3rem;
        width: 3rem;
    }

    .view-all-btn {
        float: right;
    }

    hr {
        height: 0.8px;
        border: none;
        background-color: var(--primary);
        margin: 0 auto;
        margin-top: 0.5rem;
        width: 100%;
    }

    .equity-chart {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        > div:first-of-type {
            width: 580px;
        }

        .equity-chart-btn {
            @include btn-box-shadow;
            width: 5rem;

            &.selected {
                background: hsl(var(--muted));
            }
        }
    }
}
