@mixin box-shadow {
  box-shadow: var(--apex-box-shadow);
}

@mixin apex-card {
  @include box-shadow;
  padding: 0.6rem 0.6rem 0rem 0.6rem;
  margin-bottom: 1rem;
  z-index: 1;
  background: #1a1717;
}
