thead tr {
  font-size: 0.9rem;
}

.option-box {
  @include apex-card;
  padding: 0.6rem 0.5rem 0.5rem 0.5rem;
  background: var(--background);
}

.risk-select {
  margin: 0 0.5rem 0 0.7rem;
}

table {
}
