/* Ticker Wrapper */
.ticker-wrapper {
    width: 100%;
    background: hsl(var(--card-background));
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px 0;
    z-index: 1000;
}

/* Ticker Content */
.ticker-content {
    display: inline-block;
    animation: slide-left 300s linear infinite;
    transform: translateX(100%); /* Start off-screen to the right */
    will-change: transform; /* Optimize for animation */
}

/* Keyframes for Sliding Animation */
@keyframes slide-left {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Ticker Text */
.ticker-content span {
    font-size: smaller;
}
