@import "mixins";

#trades-table {
  font-weight: 400;
  overflow: overlay;

  th,
  th div,
  th button {
    font-weight: 500;
  }
  table {
    @include box-shadow;
    text-align: left;
  }
  th,
  th div,
  th button,
  td {
    font-size: 0.6rem;
  }
  button {
    padding: 0rem;
  }
  .badge {
    zoom: 0.8;
    width: 5rem;
    justify-content: center;
  }
  .table-data.optionSymbol,
  .table-data.openDate,
  .table-data.closeDate {
    width: 6rem;
  }
  .table-data.status {
    width: 5rem;
  }
  .table-data.orderId,
  .table-data.balance {
    width: 4rem;
  }

  tbody tr {
    border: none;
  }
}
