{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 80,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "useTabs": false,
    "proseWrap": "preserve",
    "endOfLine": "lf"
}
