@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 48 96% 53%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-weight: 500;
    letter-spacing: 0.02rem;
  }
  body {
    @apply bg-background text-foreground;
  }

  section,
  .spaced {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .spaced {
    flex-flow: wrap;
    justify-content: space-between;
  }

  .symbol-badge {
    margin: 0.2rem 0rem;
    font-weight: 700 !important;
    width: 31%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 2rem;
    border: none;
    background: #292524;
  }

  .display-tab {
    display: flex;
    justify-content: space-between;
  }

  .card {
    border-radius: 0.35rem !important;
  }
  .main-container {
    width: 344px;
    margin: 0 auto;
  }

  .search-btn {
    background: hsl(12deg 6.49% 15.1%) !important;
  }

  table {
    text-align: center;
  }

  table tbody tr:nth-child(odd) {
    background-color: #292524;
  }

  table th {
    background-color: #0c0a09;
  }

  table.hide-oc {
    visibility: hidden;
  }

  table .edit-price {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .edit-price span {
    margin: 0 0.2rem;
  }

  .symbol-badge,
  svg {
    cursor: pointer;
  }

  .selected-symbol {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .accordion-title {
    width: 7rem;
  }

  .order-filter button[data-state="active"],
  .order-filter > div {
    background-color: hsl(var(--muted));
  }
  .order-filter > div {
    margin: 0;
    justify-content: center;
  }

  #orders .badge,
  .order-filter .badge {
    width: 5rem;
    justify-content: center;
  }
  .order-filter button {
    padding: 0;
  }
  .order-filter button div {
    display: block;
  }
  .order-filter .h-9 {
    height: 2rem;
  }
  .order-accordion h3 > button {
    padding: 0.5rem 1rem;
  }
  .order-filter .badge-all,
  .order-filter .badge-all:hover {
    background-color: hsl(var(--primary));
  }
  .order-filter .badge-open,
  .order-filter .badge-open:hover {
    background-color: #00e3ff;
  }
  .order-filter .badge-filled,
  .order-filter .badge-filled:hover {
    background-color: #00ff8e;
  }
  .order-filter .badge-canceled,
  .order-filter .badge-canceled:hover {
    background-color: #ee7e7e;
  }
  .order-filter .badge-pending,
  .order-filter .badge-pending:hover {
    background-color: #c4c4c4;
  }

  #ticker-bar hr {
    height: 1.5px;
    border: none;
    background-color: #2c6e52;
  }
  #ticker-bar span {
    font-size: 0.58rem;
    line-height: 1.9rem;
  }
  #ticker-bar section {
    padding: 0 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
