@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-background: 0 0% 10%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 48 100% 61%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 0 0% 17%;
        --muted-foreground: 0 0% 69%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 48 100% 50%;
        --input: 12 6.5% 15.1%;
        --ring: 48 100% 70.73%;
        --base-chart: 220 70% 50%;
        --lotto-chart: 160 60% 45%;
        --vision-chart: 30 80% 55%;
        --hero-chart: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --trade-green: 155 57% 60%;
        --trade-red: 0 77% 71%;
        --status-open: 187 100% 50%;
        --status-pending: 0 0% 77%;
        --status-runners: 245 81% 73%;
        --apex-yellow: 47.9 95.8% 53.1%;
        --apex-light-yellow: 48 100% 70.73%;
        --apex-med-yellow: 47.88 100% 61.18%;
        --apex-box-shadow: 1px 1px 3.5px 0px hsl(var(--apex-med-yellow));
    }
}

* {
    @apply border-border;
    font-weight: 500;
}

body {
    @apply bg-background text-foreground;
    width: 100%;
    margin: 0 auto;
    width: 344px;
}

@media (min-width: 345px) {
    body {
        width: 100%;
    }
}
